$gameZ: 0;
$optionsZ: 1000;
$navbarZ: 2000;
$dialogZ: 3000;
$connectingZ: 4000;

$themeGlobalBg: white;
$themeNavbarBg: #ddd;

@mixin nav-bar($class) {
    #{$class} {
        font-size: 1.15rem;
        padding: 0.5rem 0.5rem 0;
    }
    #{$class}, #{$class} > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

@mixin default-nav-bar {
    @include nav-bar(".nav");
    .nav {
        flex-wrap: wrap-reverse;
        border-bottom: 1px solid #aaa;
        background: $themeNavbarBg;
        position: relative;
        z-index: $navbarZ;
    }
}
