@import "_defs.scss";

.in-game {
    @include default-nav-bar;
    .nav {
        > div {
            padding: 0 0 0.5rem;
        }
        .game-info, .user-info {
            justify-content: flex-end;
        }
        .game-info {
            flex: 1000 0 auto; // grow 1000 times more than .user-info
        }
        .user-info {
            flex: 1 0 auto; // but still allow .user-info to grow
        }
        .game-controls, .game-info {
            margin-right: 1rem;
        }
        .user-name, .game-code {
            margin-right: 0.5rem;
        }
    }
    .options {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;

        .category, .category > div {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
        }
        .category {
            margin-bottom: 0.5rem;

            h4 {
                margin-right: 0.8rem;
            }
        }
        .field {
            display: flex;
            align-items: baseline;
            margin-right: 0.8rem;
            white-space: nowrap;

            input {
                margin-left: 0.3rem;
            }
            input[type=number] {
                width: 5ch;
                box-sizing: content-box;
            }
            input[type=checkbox] {
                align-self: baseline;
            }
        }
    }
}
