@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');
@import "defs";

html {
    font-family: Roboto;
    font-size: 14px;
    background: $themeGlobalBg;
    z-index: $gameZ;
    user-select: none;

    @media screen and (max-width: 800px) {
        font-size: 13px;
    }
    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
}
html, body, #root {
    height: 100%;
}
html.connecting {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
#card-size-measurement {
    display: none;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.connecting-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: $connectingZ;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-text {
        width: 70vw;
    }
}
@media (max-width: 500px) {
    .connecting-overlay .loader-text {
        width: 90vw;
    }
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1rem;
}
button {
    background-color: #eeeeee;
    color: #000000;
    border: 2px outset #dddddd;
}
button:disabled {
    color: #999999;
}
button:active {
    border-style: inset;
}
