$blackCard: #231f20;
$whiteCard: #ffffff;
$hoveredWhiteCard: #f0f1ff;
$activeWhiteCard: #dae1ff;

$blackCardText: #ffffff;
$whiteCardText: #231f20;
$placeholderCardText: #8c92a8;

$cardBorder: #000000;

$whiteCardGroup: #999999;
$hoveredWhiteCardGroup: #787e99;
$activeWhiteCardGroup: #536099;

@function scale-card($measure, $fontSize: 1.0) {
    @return $measure / 1px * 0.01em / $fontSize;
}
.cards .group {
    font-size: 100px; // everything scales relative to this
    display: flex;
    flex-direction: column;
    margin: scale-card(5px) 0 0 scale-card(5px);

    .group-cards {
        display: flex;
    }
    &.multi .group-cards {
        background-color: $whiteCardGroup;
        padding: 0 scale-card(5px) scale-card(5px) 0;
    }
    &.multi.selected .group-cards {
        background-color: $activeWhiteCardGroup !important;
    }
    &.selected .white.card {
        background-color: $activeWhiteCard !important;
    }
    .actions {
        display: flex;
        padding: scale-card(4px) 0 0 scale-card(5px);

        button {
            font-size: 1rem;
            flex: 1 1 auto;
        }
    }
    &.multi .actions {
        padding-left: 0;
    }
}
.card {
    flex: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100px; // everything scales relative to this
    border: 1px solid $cardBorder;
    border-radius: 4%;
    padding: scale-card(9px);
    width: scale-card(200px);
    height: scale-card(200px);
    position: relative;

    &.white {
        background-color: $whiteCard;
        color: $whiteCardText;
        margin: scale-card(5px) 0 0 scale-card(5px);

        &.disabled {
            opacity: 0.5;
        }
        &.placeholder {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $placeholderCardText;
            cursor: pointer;

            &:hover {
                background-color: $hoveredWhiteCard;
            }
            &.selected {
                background-color: $activeWhiteCard !important;
            }
        }
        .pack-name {
            background-image: url("../images/card-logo-white.svg");
        }
    }
    &.black {
        background-color: $blackCard;
        color: $blackCardText;
        margin: scale-card(10px) 0 0 scale-card(10px);

        .text {
            display: flex;
            flex-wrap: wrap;
            line-height: 1.2;
            margin-right: -0.6ch;

            .word {
                display: flex;
                flex-wrap: nowrap;
                flex: none;
                margin-right: 0.6ch;

                &.blank {
                    flex: 1 0 auto;
                }
                .blank {
                    border-bottom: 0.11em solid $blackCardText;
                    flex: 1 0 6ch;
                    width: 6ch;
                }
            }
        }
        .pack-name {
            background-image: url("../images/card-logo-black.svg");
        }
    }
    .text {
        font-size: 18px;
        font-weight: bold;

        em {
            font-style: italic;
        }
    }
    .bottom {
        position: absolute;
        left: scale-card(10px);
        right: scale-card(10px);
        bottom: scale-card(10px);
        display: flex;
        align-items: flex-end;
    }
    .pack-name {
        flex: 1 1 auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        padding-left: scale-card(28px, 0.11);
        height: scale-card(23px, 0.11);
        line-height: scale-card(23px, 0.11);
        font-size: 0.11em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .draw-pick {
        text-align: right;
        font-size: 0.13em;
        font-weight: bold;
        white-space: nowrap;
        margin-left: scale-card(5px, 0.13);

        > div {
            margin-top: 2px;
        }
        .number {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: $whiteCard;
            color: $whiteCardText;
            font-size: 1.15em;
            border-radius: 100%;
            width: 1.33em;
            height: 1.33em;
            vertical-align: center;
        }
    }
}
.in-game.game-state-playing.should-play .cards {
    .white.card {
        cursor: grab;
    }
    .white.disabled.card {
        cursor: default;
    }
    .white.placeholder.card {
        cursor: pointer;
    }
    .white.placeholder.card:hover {
        background-color: $hoveredWhiteCard;
    }
}
.in-game.game-state-judging.should-judge {
    .table {
        .white.card, .group.multi {
            cursor: pointer;
        }
        .group.multi:hover .group-cards {
            background-color: $hoveredWhiteCardGroup;
        }
        .white.card:hover, .group.multi:hover .white.card {
            background-color: $hoveredWhiteCard;
        }
    }
    .hand {
        .white.card {
            cursor: not-allowed;
        }
    }
}
