@import "defs";

.in-game {
    @include default-nav-bar;

    min-height: 100%;
    display: flex;
    flex-direction: column;

    .nav {
        > div {
            padding: 0 0 0.5rem;
        }
        .game-info, .user-info {
            justify-content: flex-end;
        }
        .game-info {
            flex: 1000 0 auto; // grow 1000 times more than .user-info
        }
        .user-info {
            flex: 1 0 auto; // but still allow .user-info to grow
        }
        .game-controls {
            margin-right: 1rem;
        }
        .user-info {
            margin-left: 1rem;
        }
        .user-name, .game-code {
            margin-right: 0.5rem;
        }
    }
    .instructions {
        border-bottom: 1px solid #aaa;
        margin: 0;
        padding: 0 5px;
        text-align: center;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }
    .table {
        display: flex;
        flex-grow: 1;
        padding-bottom: 5px;

        &.wrap-black {
            flex-direction: column;
        }
    }
    .hand {
        background-color: $themeHandBg;
        padding-bottom: 5px;

        h3 {
            border-top: 1px solid black;
            margin: 0;
            padding: 0 10px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .players {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 5px;

        .player {
            text-align: center;
            padding: 0.4em;
            border: 1px solid #aaa;
            min-width: 12ch;
            background: $themeHandBg;
            border-radius: 10px;

            .score, .status {
                font-size: 0.9em;
                white-space: nowrap;
            }
            .score.leader {
                font-weight: bold;
            }
            .think-blob {
                display: inline-block;
                width: 1ch;
                height: 1ch;
                background: #666;
                border-radius: 1ch;
                animation: 1000ms 0ms think-blob infinite ease;
                margin-left: 0.25ch;

                &.blob-1 {
                    margin-left: 0.7ch;
                }
                &.blob-2 {
                    animation-delay: 125ms;
                }
                &.blob-3 {
                    animation-delay: 250ms;
                }
            }
        }
    }
}

@keyframes think-blob {
    0% {
        height: 1ch;
        background: #666;
    }
    25% {
        height: 1.5ch;
        background: #66c;
    }
    50% {
        height: 1ch;
        background: #666;
    }
}
